/* Font */
@font-face{
    font-family: NanumSquare;
    src: url(fonts/NanumSquareR.otf);
}
@font-face{
    font-family: NanumSquareL;
    src: url(fonts/NanumSquareL.otf);
}


*{
    margin:0;
    padding:0;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: white;
    font-family: NanumSquare;
    text-align: center; 
    
}
header{
    width:100%;
    position: relative;
    background-color: rgb(242, 242, 242);
    text-align: left;
    
}
.logo{
    height: 45px;
    vertical-align: middle;
    display: inline-block;   
}
.btnlist{
    float: right;
    padding: 0px 10px;
    margin-right: 15px;
    vertical-align: middle;
}
.btnlist > button, .dropbtn{
    display: inline-block;
    width: 4px;
    height: 4px;
    vertical-align: middle;
    border: none;
    background: none;
    margin: 0px 17px;
    cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:40px;
    right: -10px;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.template_list{
    padding: 0px 10px 20px 10px

}
.row{
    position: relative;
    padding: 13px;
    margin: 5px 0px;
    text-align:left;
    box-shadow: 0  1px 2px 0 rgba(0,0,0,0.3);    
}
.row_click{
    cursor:pointer;
}

.row_title{
    color: black;
    /* display:inline-block; */
    vertical-align: middle;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     
}
.row_category{
    padding: 3px;
    margin-bottom: 5px;
    margin-left: 2px;
    display:inline-block;
    color: white;
    background-color: #01D6B3;  
    font-size: 9pt;  
    border-radius: 4px;
    vertical-align: middle;
}
.row_content{
    margin-top:5px;
    vertical-align: middle;
    line-height: 130%;
    font-size: 10pt;
    height: 33px;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     
}
.btn_delete{
    
    width:16px;
    vertical-align: middle;
    float:right;
    cursor:pointer;
}

a{
    text-decoration: none;
}


#write_new{
    position: fixed;
    bottom: 50px;
    right: 40px;
    cursor: pointer;
}


#myform, #result{
    width: 90%;
    height: 300px;
    padding: 10px;
    line-height: 120%;
    resize: none;
    font-size: 11pt;
    font-family: NanumSquareL;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

#myform_title {
    padding: 5px;
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid #01D6B3;
    text-align: center;
    vertical-align: middle;
    font-family: NanumSquareL;
}
.comment_title{
    margin: 10px;
}

.select_box {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    height: 26px;
    background: url("icons/dropdown_arrow_icon_16.png") 110px center no-repeat; /* 화살표 이미지 */
    border: 1px solid #01D6B3;
    border-radius: 4px;
    font-family: NanumSquareL;
}
.select_box label {
    position: absolute;
    font-size: 14px;
    color:#01D6B3;
    margin: 6px;
    letter-spacing: 1px;
    width:110px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
.select_box select.category {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 10px;
    opacity: 0;
}
  
.button{
    background-color: #01D6B3;
    border:none;
    border-radius: 4px;
    padding:6px 10px;
    margin: 10px 2px;
    color:white;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-family: NanumSquare;
    font-size: 10pt;
    cursor: pointer;
}
/* #btn_insert{
    margin-top: 20px;
    font-size: 12pt;
    padding:6px 20px;
} */

.content_description{
    font-family: NanumSquareL;
    font-size: 10pt;
    margin: 10px;
}

#edit_box {
    position: relative;
    margin: 10px;
    padding: 10px;
    line-height: 120%;
    font-size: 12pt;
    font-family: NanumSquareL;
    text-align:left;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}
.select_control{
    margin-bottom: 5px;
    font-weight: bold;
    font-family: NanumSquare;

}

#edit_box input[type=text]{
    width: 98%;
    padding: 3px;
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid #01D6B3;
    font-size:11pt;
    font-family: NanumSquareL;
}

#edit_box input[type=checkbox] {
    display: none;
}

#edit_box input[type=checkbox] + label{
    cursor: pointer;
    margin-left: 25px;

}
#edit_box label {
  display: block;
  margin: 10px 0px;
}

#edit_box input[type=checkbox] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    background-color: #01D6B3;
    border-radius: 3px;
    
}


#edit_box input[type=checkbox]:checked + label:before{
    content: "";
    background: url(icons/check.png) #01d6b3 no-repeat center/10px 10px;
    text-align: center;   
}

.myform-text {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}

#tooltip {
    position: absolute;
    z-index: 999;
    color: white;
    font-size: 5px;
}

#tooltip .tipBody {
    background-color: black;
    opacity: 0.5;
    padding: 8px;
}