/* Font */
@font-face{
    font-family: NanumSquare;
    src: url(fonts/NanumSquareR.otf);
}
@font-face{
    font-family: NanumSquareL;
    src: url(fonts/NanumSquareL.otf);
}


*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}


body{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: white;
    font-family: NanumSquare;
    text-align: center; /* 추가 */

    
}
header{
    width:100%;
    /* justify-content: flex-end; */
    display: flex;
    position: relative;
    background-color: rgb(242, 242, 242);
    
}
.logo{
    height: 45px;
    margin-right: auto;
    /* vertical-align: middle; */

    
}
.btnlist{
/* line-height: 50px; */
    padding: 0px 10px;
    margin: 0px 10px;
}
.btnlist > button{
    /* display: inline-block; */
    width:6px;
    height:6px;
    vertical-align: middle;
    border: none;
    background: none;
    margin:0px 10px
}

.template_list{
    padding: 0px 10px

}
.row{
    text-align:left;/* 추가 */
    padding: 14px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    
}
.row_title{
    color: black;
     
}

.row_content{
    vertical-align: middle;
    line-height: 130%;
    font-size: 10pt;
    height: 33px;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     
}

a{
    text-decoration: none;
}




#write_new{
    margin:30px;
    float:right;
}


#myform, #result{
    resize: none;
    width: 90%;
    height: 300px;
    padding: 5px;
    line-height: 120%;
    font-size: 11pt;
    font-family: NanumSquareL;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

#myform_title {
    padding: 5px;
    box-sizing: border-box;
    border:none;
    border-bottom: 2px solid #01D6B3;
    text-align: center;
    font-family: NanumSquareL;
}
  
.button{
    background-color: #01D6B3;
    border:none;
    border-radius: 4px;
    padding:6px 10px;
    margin: 10px 2px;
    color:white;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-family: NanumSquare;
    font-size: 10pt;
    cursor: pointer;
}

/* #btn_NaverMail{
    border:none;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
} */

.content_description{
    font-family: NanumSquareL;
    font-size: 10pt;
    margin: 10px;

}

/* 아래는 다  체크박스 화면 */

.edit_box {
    position: relative;
    margin: 10px;
    text-align:left;
    padding:10px;
    line-height: 120%;
    font-size: 12pt;
    font-family: NanumSquareL;
    line-height: 120%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}
.select_control{
    margin-bottom: 5px;
    font-weight: bold;
    font-family: NanumSquare;

}

.edit_box input[type=text]{
    width: 98%;
    padding: 3px;
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid #01D6B3;
    font-size:11pt;
    font-family: NanumSquareL;
}

.edit_box input[type=checkbox] {
    
    display: none;
  
}

.edit_box input[type=checkbox] + label{
    
    cursor: pointer;
    margin-left: 25px;

}
.edit_box label {
  display: block;
  margin: 10px 0px;
}

.edit_box input[type=checkbox] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    background-color: #01D6B3;
    border-radius: 3px;
    
}


.edit_box input[type=checkbox]:checked + label:before{
    content: "";
    background: url(icons/check.png) #01d6b3 no-repeat center/10px 10px;
    text-align: center;   
}

.myform-text {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}